<% var title = 'Sample Page' %>
<% include ../partials/header %>
    <!-- Main Content -->
    <div class="row">
      <div class="col-xs-12">
        <h1>Welcome</h1>
      </div>
    </div>
<% include ../partials/footer %>